extends baseEmail

block content
  header
    .orderConfirm_header--img
      img(src=logoUrl, alt="company-logo")

  main
    .email_body
      h2 New Website Enquiry
      p You have received a new enquiry through the website contact form.
    .email_details 
      p name:#{name || ''}
      p email:#{email || ''}
      p enquiry:#{enquiry || ''}
      p message:#{message || ''}
			
			
      p Please log in and check Atlas for the full details.
			a.mongoDb-link(href="/https://cloud.mongodb.com/v2/69af83c83d0c45e3733962ca#/explorer/69af83fbf0f89025667964b1/widebaywebwise/enquiries/find") MongoDb Atlas
